{% extends "base.html" %}
{% block title %}Регистрация{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<a class="back-link" href="{{ url_for('main.index') }}">Назад</a>
<section class="form-shell register-shell">
    <h1>Регистрация</h1>
    <form method="post" class="form register-form">
        {{ form.hidden_tag() }}
        <label>Имя* <input name="name" required value="{{ form.name.data or '' }}" class="{% if form.name.errors %}is-invalid{% endif %}">{% for err in form.name.errors %}<span class="field-error">{{ err }}</span>{% endfor %}</label>
        <label>Фамилия* <input name="surname" required value="{{ form.surname.data or '' }}" class="{% if form.surname.errors %}is-invalid{% endif %}">{% for err in form.surname.errors %}<span class="field-error">{{ err }}</span>{% endfor %}</label>
        <label>Отчество (если есть) <input name="patronymic" value="{{ form.patronymic.data or '' }}" class="{% if form.patronymic.errors %}is-invalid{% endif %}">{% for err in form.patronymic.errors %}<span class="field-error">{{ err }}</span>{% endfor %}</label>
        <label>Номер телефона* <input name="phone" required value="{{ form.phone.data or '' }}" class="{% if form.phone.errors %}is-invalid{% endif %}">{% for err in form.phone.errors %}<span class="field-error">{{ err }}</span>{% endfor %}</label>
        <label>Почта* <input type="email" name="email" required value="{{ form.email.data or '' }}" class="{% if form.email.errors %}is-invalid{% endif %}">{% for err in form.email.errors %}<span class="field-error">{{ err }}</span>{% endfor %}</label>
        <label>Номер паспорта* <input name="passport_number" required maxlength="6" value="{{ form.passport_number.data or '' }}" class="{% if form.passport_number.errors %}is-invalid{% endif %}">{% for err in form.passport_number.errors %}<span class="field-error">{{ err }}</span>{% endfor %}</label>
        <label>Серия паспорта* <input name="passport_series" required maxlength="4" value="{{ form.passport_series.data or '' }}" class="{% if form.passport_series.errors %}is-invalid{% endif %}">{% for err in form.passport_series.errors %}<span class="field-error">{{ err }}</span>{% endfor %}</label>
        <label>Пароль* <input type="password" name="password" required class="{% if form.password.errors %}is-invalid{% endif %}">{% for err in form.password.errors %}<span class="field-error">{{ err }}</span>{% endfor %}</label>
        <label>Подтверждение пароля* <input type="password" name="password_confirm" required class="{% if form.password_confirm.errors %}is-invalid{% endif %}">{% for err in form.password_confirm.errors %}<span class="field-error">{{ err }}</span>{% endfor %}</label>
        <button class="button primary" type="submit">{{ form.submit.label.text }}</button>
    </form>
    <a class="muted-link" href="{{ url_for('main.login') }}">Уже есть аккаунт</a>
    <p class="note">"*" - обязательные для заполнения поля</p>
</section>
{% endblock %}
