{% extends "base.html" %}
{% block title %}Настройки{% endblock %}
{% block content %}
<section class="form-shell settings-shell">
    <h1>Настройки личного кабинета</h1>
    <form method="post" class="form settings-form">
        <label>Имя <input name="name" value="{{ user.name }}" required></label>
        <label>Фамилия <input name="surname" value="{{ user.surname }}" required></label>
        <label>Отчество <input name="patronymic" value="{{ user.patronymic or '' }}"></label>
        <label>Номер телефона <input name="phone" value="{{ user.phone }}" required></label>
        <label>Почта <input type="email" name="email" value="{{ user.email }}" required></label>
        <label>Номер паспорта <input name="passport_number" value="{{ user.passport_number }}" required></label>
        <label>Серия паспорта <input name="passport_series" value="{{ user.passport_series }}" required></label>
        <label>Старый пароль <input type="password" name="old_password"></label>
        <label>Новый пароль <input type="password" name="password"></label>
        <button class="button primary" type="submit">Сохранить</button>
    </form>
</section>
{% endblock %}
